// codigo de lugares recomendados y comida
.negocio {
    display: grid;
    grid-template-areas:
      "t3"
      "contenido3";
    gap: 30px;
    margin-left: 40px;

    h3 {
        grid-area: t3;
        margin-top: 30px;
        font-size: 30px;

        a {
            text-decoration: none;
            color: #000000;
            
            &:hover {
                color: #ee9126;
                font-size: 35px;
            }
        }
    }
  
    &__contenido {
        grid-area: contenido3;
        display: flex;
        flex-direction: row;
        max-width: 900px;
        margin-bottom: 25px;
        
        &__imagen {
            flex: 0 0 300px; 
            margin-right: 30px;
            max-width: 100%;
        }
  
        &__p {
            flex: 1;
            margin-left: 30px;
            
            p {
                margin-bottom: 30px;
            } 
  
            a {
                color: #000000;
                text-decoration: none;
                &:hover {
                    color: #ee9126;
                    font-size: large;
                }
            }
        }
    }            


   // parte responsive
 @media only screen and (max-width: 480px) {
    
    margin-left: 10px;

    h3 {
      font-size: 24px;
      display: block;

      
    }

    &__star{
      display: block;

    }
    

    &__contenido {
      flex-direction: column;
      max-width: none;

      &__imagen {
        flex: 0 0 200px;
        margin-right: 0;
        margin-bottom: 0px;
      }

      &__p {
        margin-left: 0;
      }
    }
  }
}

// Codigo css de selectores para busqueda

.selectores{
  .form-select{
    color: #ee9126;
  }
  button{
    background-color: #ffffff; 
    color: #ee9126; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      background-color: #ee9126; 
    }
  }
}

//Codigo de pagina de Contacto
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 600px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 300px;
  contain: content;
  background-color: #ee9126;


  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
  }

  &__check,
  &__radio {
    flex: 1;
  }

  .form-check {
    display: flex;
    align-items: center;
  }

  .form-label {
    margin-left: 10px;
  }

  .form-control{
    width: 100%;
    padding: 10px;
  }
  button {
    background-color: #ffffff; 
    color: #ee9126; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    width: 100%;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      background-color: #a36217; 
    }
  }

  @media only screen and (max-width: 480px) {
    .contacto {
      max-width: 100%;
  

      .form-control,
      button {
        font-size: 16px;
      }

      &__top {
        flex-direction: column;
        align-items: center;
      }

      &__check,
      &__radio {
        flex: none;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
