.btn {
  background-color: #ffffff;
  color: #ee9126;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  color: #ffffff;
  background-color: #ee9126;
}

.negocio {
  display: grid;
  grid-template-areas: "t3" "contenido3";
  gap: 30px;
  margin-left: 40px;
}
.negocio h3 {
  grid-area: t3;
  margin-top: 30px;
  font-size: 30px;
}
.negocio h3 a {
  text-decoration: none;
  color: #000000;
}
.negocio h3 a:hover {
  color: #ee9126;
  font-size: 35px;
}
.negocio__contenido {
  grid-area: contenido3;
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin-bottom: 25px;
}
.negocio__contenido__imagen {
  flex: 0 0 300px;
  margin-right: 30px;
  max-width: 100%;
}
.negocio__contenido__p {
  flex: 1;
  margin-left: 30px;
}
.negocio__contenido__p p {
  margin-bottom: 30px;
}
.negocio__contenido__p a {
  color: #000000;
  text-decoration: none;
}
.negocio__contenido__p a:hover {
  color: #ee9126;
  font-size: large;
}
@media only screen and (max-width: 480px) {
  .negocio {
    margin-left: 10px;
  }
  .negocio h3 {
    font-size: 24px;
    display: block;
  }
  .negocio__star {
    display: block;
  }
  .negocio__contenido {
    flex-direction: column;
    max-width: none;
  }
  .negocio__contenido__imagen {
    flex: 0 0 200px;
    margin-right: 0;
    margin-bottom: 0px;
  }
  .negocio__contenido__p {
    margin-left: 0;
  }
}

.selectores .form-select {
  color: #ee9126;
}
.selectores button {
  background-color: #ffffff;
  color: #ee9126;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.selectores button:hover {
  color: #ffffff;
  background-color: #ee9126;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 70px;
  background-color: #ee9126;
}
.contacto h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.contacto__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  padding: 15px;
}
.contacto__check, .contacto__radio {
  flex: 1;
}
.contacto .form-check {
  display: flex;
  align-items: center;
}
.contacto .form-label {
  margin-left: 10px;
}
.contacto .form-control {
  width: 100%;
  padding: 10px;
}
.contacto button {
  background-color: #ffffff;
  color: #ee9126;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}
.contacto button:hover {
  color: #ffffff;
  background-color: #a36217;
}
@media only screen and (max-width: 480px) {
  .contacto {
    max-width: 405px;
    height: 800px;
    padding: 40px;
    margin-bottom: 50px;
  }
  .contacto .form-control,
  .contacto button {
    font-size: 16px;
  }
  .contacto__top {
    flex-direction: column;
    align-items: center;
  }
  .contacto__check, .contacto__radio {
    flex: none;
    width: 100%;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */